h1, h2, h3, h4{background-color: rgba(12, 185, 237, 0.871); padding: 10 ;}
body{font-family: Verdana, Geneva, Tahoma, sans-serif; max-width: 600px;} 
body{margin: auto;}
html{background-color: rgb(218, 227, 224);}